body {
  background-color:rgba(234,234, 234, 0.5);
  background-image: url(../images/bg-image.png);
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #777;
}

nav {
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
  background-color: #fff;
  border-bottom: 3px;
  border-color: #ccc;
  border-style: solid;

  /*-webkit-box-shadow: 0px 10px 32px -11px rgba(125,124,125,1);
  -moz-box-shadow: 0px 10px 32px -11px rgba(125,124,125,1);
  box-shadow: 0px 10px 32px -11px rgba(125,124,125,1);*/
}

h1 {
  font-size: 40px;
  font-family: 'Georgia', Times, "Times New Roman", serif;
  font-weight: bold;
  color: #4aaaa5;
}

h2 {
  font-size: 30px;
  font-family: 'Georgia', Times, "Times New Roman", serif;
  font-weight: bold;
  color: #4aaaa5;
}

section {
}

article {
  padding: 20px 20px;
  background-color: #fff;
  border: 2px;
  border-color: #ddd;
  border-style: solid;
}

article div {
  /*position: absolute;*/
}

article p {
  display: inline;
  font-size: 18px;
  line-height: 35px;
  /*padding: 20px;*/
}

article img {
  /*float: left;*/
  margin: 20px 20px 20px 20px;
  padding: 0;
}

hr {
  margin: 10px 10px;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  padding: 0;
}

aside {
  border: 2px;
  border-color: #ddd;
  border-style: solid;
  text-align: center;
}

/*FORM STYLES*/
form {
  display: block;
  padding: 20px 20px;
  margin: auto;
}

button {
  display: block;
  height: 40px;
  width: 120px;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
  color: #fff;
  margin: 20px 10px 20px 0px;
  border: 0;
  background-color: #4aaaa5;
}

button:hover{
  background-color: #cae8e6;
}

label {
  display: block;
  width: 100%;
  font-family: sans-serif;
  font-size: 20px;
  padding: 15px 0 5px 0;
}

input {
  height:40px;
  width: 100%;
  font: 20px;
  margin: 10px 0 10px 0;
  padding: 0;
};

textarea {
  width: 100%;
  height: 200px;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 18px;
  resize: none;
}

footer {
  clear:both;
  /*position: fixed;
  bottom: 0px;
  left: 0px;*/
  height: 80px;
  width: 100%;
  text-align: center;
  margin: 20px 0 0 0 ;
  background-color: #666;
  border-top: 6px;
  border-style: solid;
  border-color: #4aaaa5;
}

footer p {
  font-family: georgia;
  font-size: 18px;
  color: #eee;
  padding-top: 30px;

}

.title-text {
  padding: 20px;
}

.images {
  position: relative;
  width: 250px;
}

p.bannerText {
  position: absolute;
  text-align: center;
  height: 40px;
  top: 180px;
  left: 20px;
  width: 270px;
  padding: 8px 0;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  background-color: #4aaaa5;
}

.drop-shadow{
  -webkit-box-shadow: 9px 14px 44px -8px rgba(125,124,125,1);
  -moz-box-shadow: 9px 14px 44px -8px rgba(125,124,125,1);
  box-shadow: 9px 14px 44px -8px rgba(125,124,125,1);
}

.clearfix {
  clear: both;
}

#navbar {
  height: 100px;
  float: right;
  margin-right: 100px;
}

#navbar li {
  float: left;
  margin-top: 20px;
  padding: 20px 20px 20px 20px;
}

#navbar li:not(:last-child):after{
  content: "|";
  color: #e4e3e3;
  margin-left: 30px;
}

#navbar a {
  color: #666;
  font-family: sans-serif;
  font-size: 22px;
  text-decoration: none;
}

#navbar a:hover {
  color: #4aaaa5;
}

#nameTag {
  float: left;
  height: 100px;
  width: 220px;
  margin-left: 100px;
  background-color: #4aaaa5;
}

#nameTag a {
  display: block;
  font-size: 30px;
  font-family: serif;
  font-weight: bold;
  color: #eee;
  text-align: center;
  text-decoration: none;
  margin-top: 20px;
  padding: 10px 15px;
}

#container {
  width: 960px;
  min-height: 100%;
  /*margin: 10px 16%;*/
  margin: 0 auto -80px auto;
  padding: 0;
}

#main-content {
  float: left;
  width: 650px;
  height: auto;
  margin: 8px 8px 100px 8px;
}

#contact-area {
  float: right;
  width: 270px;
  height: 180px;
  background-color: #fff;
  margin: 5px;
}

#img-box {
  margin: 0 10px 0 10px;
}

#img-box img {
  float: left;
  height: 60px;
  width: 60px;
  margin: 8px;
  padding: 0;
}
